@model Product

<div class="col-sm-12 col-md-4 my-2">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="@Model?.ImageUrl" alt="@Model.ProductName" width="200" height="200">
      <div class="card-body">
        <h5 class="card-title">@Model.ProductName</h5>
        <p class="card-text">@Model.Price.ToString("C")</p>
        
        <div class="btn-group">
            <a class="btn btn-outline-dark" asp-controller="Product" asp-action="Get" asp-route-id="@Model.Id">
                <i class="fa fa-arrow-right" aria-hidden="true"></i> Get Details
            </a>
            
            <form id="@Model.Id" asp-page="/Cart" method="post">
                <!-- Kullanılan parametreler ve Modeldeki isimler aynı olmak zorunda !!!!! "Pages" -->
                <input type="hidden" asp-for="Id"/>
                <input type="hidden" name="returnUrl" value="/product/get/@Model.Id"/>
                <button type="submit" class="btn btn-outline-primary">
                    <i class="fa fa-cart-plus"></i>
                </button>
            </form>
            
        </div>
        
      </div>
    </div>
</div>