@{
    // artık çagırmaya gerek yok başlangıç değeri zaten _layout
    Layout = "_Layout";
    ViewData["Title"] = @Model.ProductName;  
}

@model Product

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h6 class="display-6">@Model.ProductName</h6>
        </div>
        <img class="img-fluid shadow rounded-3 my-3 p-5" src="@Model.ImageUrl" alt="@Model.ProductName" width="100%" height="auto"/>
        <div class="text-center">
            <h4 class="lead text-warning">@Model.Price.ToString("C")</h4>
            <br/>
            <div class="btn-group">
                <a class="btn btn-outline-dark" asp-action="Index" asp-controller="Product">Home</a>

                <form id="@Model.Id" method="post" asp-page="/cart">
                    <input type="hidden" asp-for="Id"/>
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
                    <button type="submit" class="btn btn-outline-dark">
                        <i class="fa fa-cart-plus"></i>
                    </button>
                </form>

                <a class="btn btn-outline-dark" href="/product">products</a>
            </div>
        </div>
        
        
    </div>
</div>
